/* body {
    background-color: #030306;
} */

/* Navbar */

/* .navbar-light {
    background-color: #030306;
} */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    font-weight: 500;
    color: #0C145A;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fdfdfd;
}

.navbar-light .navbar-nav .nav-link {
    color: #5A6D86;
}

.navbar-light .btn-sign-in {
    color: #0C145A;
    background-color: #811039;
    padding: 0.75rem 1.875rem;
}


/*  */


/* Header */

.header .header-title {
    font-size: 2.625rem;
    line-height: 1.5;
    color: #D4D4C6;
}

.header .btn-get {
    background-color: #811039;
    padding: 0.75rem 3rem;
}

.header .btn-learn:hover {
    color: #0C145A;
}

.header .card {
    border-radius: 1rem;
    box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
}

.header .left-card {
    width: 207px;
    height: 112px;
    top: 6.68rem;
    left: -3.625rem;
    padding: 0.875rem;
}

.header .right-card {
    width: 135px;
    height: 177px;
    bottom: 6.5rem;
    right: -3.2rem;
    padding: 1.25rem 1.5rem;
}

.header .right-card-support {
    padding: 0.063rem 0.625rem;
    background-color: #00BAFF;
    width: max-content;
    border-radius: 0.375rem;
    bottom: -0.5rem;
    left: auto;
    right: auto;
}

/*  */


/* Feature */
.feature .feature-card {
    background-color: #090913;
    padding: 1.875rem;
    border-radius: 1.625rem;
    margin-right: 16px;
}

/*  */


/* Featured Game */
.featured-game .overflow-setting {
    overflow-x: auto;
    overflow-y: hidden;
}


.featured-game .featured-game-card {
    transition: all 0.4s;
    border-radius: 1.625rem;
    width: 205px;
    height: 270px;
}

.featured-game .featured-game-card:hover {
    transition: all 0.4s;
    border: 4px solid #5c5885;
}

.featured-game .featured-game-card:hover img.thumbnail {
    transition: all 0.4s;
    filter: blur(40px);
    width: 181px;
    height: 246px;
}

.featured-game .featured-game-card .blur-sharp {
    overflow: hidden;
    border-radius: 1.625rem;
}

.featured-game .featured-game-card:hover .blur-sharp {
    width: 100%;
    height: 100%;
    border: 7px solid white;
}

.featured-game .cover {
    transition: all 0.4s;
    opacity: 0;
    left: 0;
    right: 0;
    height: -webkit-fill-available;
}

.featured-game .featured-game-card:hover .cover {
    opacity: 1;
}

.featured-game .game-icon {
    margin-top: 3.125rem;
}

@media (min-width:768px) {
    .featured-game .overflow-setting {
        overflow: hidden;
    }
}

/*  */


/* Reached */
.reached .vertical-line {
    width: 1px;
    background-color: #151520;
    height: 94px;
}

.reached .horizontal-line {
    width: 240px;
    background-color: #151520;
    height: 1px;
}

/*  */

/* Story */
.story .btn-read {
    padding: 0.75rem 3rem;
    background-color: #811039;
}

.story .img-fluid {
    max-width: 100%;
    height: auto;
}


/*  */


/* Footer */
footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #030306;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    transition: 0.2s;
}

footer ul li a:hover {
    color: #4D17E2;
    text-decoration: underline !important;
    background-color: transparent;
}

/* button story */

/* From uiverse.io by @namecho */
button.btn-readStory,
button.btn-readStory::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #3b2697 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

button.btn-readStory::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "Read Story";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #3b2697 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

button.btn-readStory:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/* end button story */

/* button sign-in */
.main_div {
    --color: #3992e6;
    position: relative;
    z-index: 1;
}

.main_div::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -7px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s;
}

.main_div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -7px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s;
}

.main_div:hover::before {
    width: 100%;
    height: 100%;
}

.main_div:hover::after {
    width: 100%;
    height: 100%;
}

.main_div button {
    padding: 0.7em 2em;
    font-size: 16px;
    background: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* end button sign-in */




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

@media (max-width:768px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Header */

    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Navbar */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    /*  */

    /* Header */
    .header .underline-blue {
        text-decoration: none;
        position: relative;
    }

    .header .underline-blue:after {
        position: absolute;
        content: '';
        height: 8px;
        bottom: 11px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        background: #5A6D86;
        z-index: -10;
    }

    /*  */

    /* Featured Game */
    .featured-game .featured-game-card:hover .blur-sharp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}